body {
    background-color:  black;
    font-family: 'Jost', sans-serif;
    font-size: 32px;
    color: white;
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(rgb(172, 36, 36), rgb(49, 49, 168));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    text-align: center;
}

p {
    text-align: center;
}

label { 
    position: relative;
    top: 5px;
    }

.convert { 
    text-align: center;
}

.temp-input {
    text-align: center;
    padding: 10px;
    margin-top: -10px;
    border-radius: 5px;
}

.convert-button {
    background-color: black;
    padding: 10px;
    font: bold;
    color: white;
    transition-duration: 0.4s;
    border-radius: 5px;
}

.convert-button:hover{
    background-color: gray ;
} 

.previous-temp{
    max-width: 500px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}